.hide-on-mobile {
    display: none !important;
}

#root {
    min-height: 640px;
    min-width: 360px;
}

#root > div#app {
    padding: 0;
    height: 100vh;
}

.app-header {
    margin-top: 12px;
    padding: 0 40px;
}

.app-title,
.app-subtitle {
    line-height: 1.2em;
    font-size: 16px;
}

.app-line {
    padding: 0 40px;
    height: 2px;
}

.app-line div {
    width: 52px;
}

#search-container {
    padding: 12px 40px;
}

#search-container input {
    width: 100%;
}

.app-hero-list-header,
.app-hero-list-row {
    display: block;
    width: 100%;
}

.app-hero-list-header > div {
    display: block;
    text-align: left;
    line-height: 37px;
    padding: 0 0 0 100px;
    width: 100%;
}

.app-hero-list-row {
    border-bottom: 2px solid rgba(255, 43, 43, 0.5);
    padding: 10px 0;
    height: 90px;
    cursor: pointer;
}

.app-hero-list-row > div {
    line-height: 1.1em;
    padding: 0 18px;
    width: 100%;
}

.app-hero-list-row > div:first-child {
    padding-top: 6px;
}

.app-hero-list-row > div:first-child > div {
    width: calc(100% - 58px - 25px);
}

.app-pagination-container {
    min-height: 80px;
    margin: 18px 30px 24px;
}

.app-pagination-container.row-1 {
    height: calc(100% - 174px - 149px);
}

.app-pagination-container.row-2 {
    height: calc(100% - 174px - 261px);
}

.app-pagination-container.row-3 {
    height: calc(100% - 174px - 373px);
}

.app-pagination > span {
    margin: 0 12px;
}

.app-pagination > ul {
    margin: 0 60px;
}

.app-pagination > ul > li + li {
    margin-left: 15px;
}

#footer {
    position: absolute;
    line-height: 12px;
    font-size: 12px;
}