#root div#app.detail {
    padding: 0;
    overflow-y: auto;
}

#root div#app.detail #back-home {
    top: auto;
    bottom: 15px;
}

#root div#app.detail #back-home:hover,
#root div#app.detail #back-home:focus {
    background: rgba(0,0,0,0.7);
    color: #fff;
    border: 3px solid #D42026;
}

#detail-header {
    box-shadow: inset 0 0 220px black;
    min-width: 340px;
    height: 360px;
    color: #fff;
    margin: 0;
}

#detail-header > div > img {
    margin: 20px auto;
    float: inherit;
}

#detail-header > div > h1 {
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
    padding: 20px;
    float: inherit;
}

#detail-content {
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    margin: 360px 0 150px;
}

#detail-content > .detail-content-section {
    display: block;
    padding: 10px;
    width: 100%;
}

#detail-content > .detail-content-section > section > .detail-block {
    padding: 10px 15px 35px;
}

#detail-content > .detail-content-section > section > .detail-block > .detail-block-content > .detail-card > .detail-card-link {
    bottom: 10px;
    top: auto;
}

#detail-footer {
    box-shadow: inset 0 0 160px 0 #D42026;
    min-width: 360px;
    position: fixed;
    height: 150px;
    padding: 40px;
}
