* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

#root {
    min-height: 720px;
    min-width: 1280px;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

#root > div#app {
    padding: 20px 42px 0 42px;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    align-content: stretch;
}

#loading {
    background-color: #eeeeee;
    flex-flow: column;
    overflow: hidden;
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    -webkit-transition: all 200ms;
       -moz-transition: all 200ms;
        -ms-transition: all 200ms;
         -o-transition: all 200ms;
            transition: all 200ms;
}

#loading > div {
    text-align: center;
    margin: auto;
}

#loading-status {
    -webkit-transition: all 100ms;
       -moz-transition: all 100ms;
        -ms-transition: all 100ms;
         -o-transition: all 100ms;
            transition: all 100ms;
}

.fade-in,
.fade-out {
    -webkit-transition: all 100ms;
       -moz-transition: all 100ms;
        -ms-transition: all 100ms;
         -o-transition: all 100ms;
            transition: all 100ms;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

#loading.hidden {
    display: none;
}

.app-title,
.app-subtitle,
.app-developer {
    text-transform: uppercase;
    display: inline-block;
    line-height: 1.2em;
    font-size: 27px;
    color: #D42026;
    margin: 0;
}

.app-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.app-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.app-developer {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    float: right;
}

.app-line {
    height: 4px;
}

.app-line div {
    background-color: #D42026;
    height: 100%;
    width: 52px;
}

#search-container {
    padding: 34px 0;
}

#search-container label,
#search-container input {
    display: block;
}

#search-container label {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2em;
    font-weight: 400;
    font-size: 16px;
    color: #D42026;
}

#search-container input {
    font-family: 'Roboto', sans-serif;
    border: 1px solid #A5A5A5;
    border-radius: 4px;
    padding: 3px 10px;
    line-height: 31px;
    font-weight: 400;
    background: #fff;
    font-size: 16px;
    outline: none;
    width: 400px;

    -webkit-transition: all 200ms;
       -moz-transition: all 200ms;
        -ms-transition: all 200ms;
         -o-transition: all 200ms;
            transition: all 200ms;
}

#search-container input:focus {
    border: 1px solid #D42026;
}

.app-hero-list {
    width: 100%;
}

.app-hero-list-header,
.app-hero-list-row {
    justify-content: space-between;
    display: flex;
}

.app-hero-list-header > div {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    background-color: #D42026;
    line-height: 37px;
    font-weight: 400;
    padding: 0 12px;
    width: 25%;
    color: #fff;
}

.app-hero-list-header > div:last-child,
.app-hero-list-row > div:last-child {
    width: calc(50% - 20px);
}

.app-hero-list-row {
    border-bottom: 2px solid rgba(255, 43, 43, 0.5);
    font-family: 'Roboto', sans-serif;
    padding: 20px 0;
    height: 112px;
    cursor: pointer;
}

.app-hero-list-row:hover,
.app-hero-list-row:focus {
    background-color: rgba(212, 32, 38, 0.10);
}

.app-hero-list-row > div {
    line-height: 1.1em;
    font-size: 21px;
    padding: 0 12px;
    width: 25%;
}

.app-hero-list-row > div:first-child {
    padding-top: 6px;
}

.app-hero-list-row > div:first-child > div {
    width: calc(100% - 58px - 25px);
    vertical-align: middle;
    display: table-cell;
    text-align: left;
    height: 100%;
}

.app-hero-list-row > div:first-child > div > img {
    background-color: #A5A5A5;
    margin-right: 25px;
    border-radius: 50%;
    width: 58px;
    height: 58px;
}

.app-pagination-container {
    font-family: 'Roboto', sans-serif;
    transition-delay: 100ms;
    align-items: center;
    text-align: center;
    min-height: 64px;
    display: flex;
    flex-grow: 1;


    -webkit-transition: all 200ms;
       -moz-transition: all 200ms;
        -ms-transition: all 200ms;
         -o-transition: all 200ms;
            transition: all 200ms;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.app-pagination-container.row-1 {
    height: calc(100% - 174px - 149px);
}

.app-pagination-container.row-2 {
    height: calc(100% - 174px - 261px);
}

.app-pagination-container.row-3 {
    height: calc(100% - 174px - 373px);
}

.app-pagination-container.row-4 {
    height: calc(100% - 174px - 485px);
}

.app-pagination {
    margin: auto;
}

.app-pagination > span,
.app-pagination > ul > li {
    -webkit-transition: color 200ms, background-color 200ms;
       -moz-transition: color 200ms, background-color 200ms;
        -ms-transition: color 200ms, background-color 200ms;
         -o-transition: color 200ms, background-color 200ms;
            transition: color 200ms, background-color 200ms;
}

.app-pagination > span {
    color: rgba(212, 32, 38, 1);
    cursor: pointer;
    margin: 0 12px;
}

.app-pagination > span.disabled {
    color: rgba(212, 32, 38, 0.35);
}

.app-pagination > ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.app-pagination > ul > li {
    border: 1px solid #D42026;
    display: inline-block;
    border-radius: 50%;
    line-height: 28px;
    cursor: pointer;
    color: #D42026;
    height: 28px;
    width: 28px;
}

.app-pagination > ul > li + li {
    margin-left: 20px;
}

.app-pagination > ul > li.active {
    background-color: #D42026;
    color: #fff;
}

#footer {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #D42026;
    background-color: #D42026;
    text-align: center;
    line-height: 12px;
    font-weight: 900;
    font-size: 12px;
    color: #FFF;
    display: flex;
    width: 100%;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#copyright {
    margin: auto;
}