#root div#app.detail {
    padding: 0;
}

#detail-header {
    min-width: 1200px;
    font-family: 'Roboto', sans-serif;
    background-color: #D42026;
    color: #fff;
}

#detail-header::after {
    content: '';
    display: block;
    clear: both;
}

#detail-header #back-home {
    background: #fff;
    display: block;
    position: fixed;
    padding: 16px;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    color: #D42026;
    text-decoration: none;
    border: 3px solid black;
    box-shadow: 0 0 10px #333;
}

#detail-header > div {

}

#detail-header > div > img {
    margin: 20px;
    display: block;
    float: left;
    padding: 5px;
    background: white;
    border: 5px solid black;
    border-radius: 50%;
}

#detail-header > div > h1 {
    font-size: 40px;
    padding: 90px 20px;
    display: block;
    float: left;
    color: #fff;
}

#detail-header > h3 {
    float: right;
    color: #fff;
    padding: 20px 30px;
}

#detail-content {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

#detail-content > .detail-content-section {
    width: 50%;
    padding: 20px;
    display: table-cell;
}

#detail-content > .detail-content-section > header {
    font-size: 28px;
    font-weight: 900;
    padding: 10px 15px;
    margin: 10px 0;
    border-bottom: 2px solid #D42026;
    text-transform: uppercase;
}

#detail-content > .detail-content-section > section {

}

#detail-content > .detail-content-section > section > .detail-block {
    margin: 20px 0;
    padding: 10px 15px;
    border: 1px solid #ccc;
    position: relative;
}

#detail-content > .detail-content-section > section > .detail-block > .detail-block-header {
    font-weight: 900;
}

#detail-content > .detail-content-section > section > .detail-block > .detail-block-content {

}

#detail-content > .detail-content-section > section > .detail-block > .detail-block-content > .detail-card {

}

#detail-content > .detail-content-section > section > .detail-block > .detail-block-content > .detail-card > .detail-card-description {
    padding: 20px;
    font-style: italic;
}

#detail-content > .detail-content-section > section .detail-card > .detail-card-header .detail-card-link {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    color: #D42026;
    text-decoration: none;
}