#root div#app.detail {
    padding: 0;
}

#detail-header {
    font-family: 'Roboto', sans-serif;
    background-color: #D42026;
    min-width: 1200px;
    color: #fff;
}

#detail-header::after {
    display: block;
    content: '';
    clear: both;
}

#detail-header #back-home {
    background: rgba(255,255,255,0.8);
    display: block;
    position: fixed;
    padding: 16px 14px 16px 17px;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    width: 55px;
    cursor: pointer;
    color: #D42026;
    text-decoration: none;
    border: 3px solid black;
    box-shadow: 0 0 10px #333;
}

#detail-header #back-home:hover,
#detail-header #back-home:focus {
    background: rgba(255,255,255,1);
}

#detail-header > div {

}

#detail-header > div > img {
    border-radius: 50%;
    background: black;
    display: block;
    padding: 5px;
    margin: 20px;
    float: left;
}

#detail-header > div > h1 {
    padding: 90px 20px;
    font-size: 40px;
    display: block;
    float: left;
    color: #fff;
}

#detail-header > h3 {
    padding: 20px 30px;
    float: right;
    color: #fff;
}

#detail-content {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

#detail-content > .detail-content-section {
    display: table-cell;
    padding: 20px;
    width: 50%;
}

#detail-content > .detail-content-section > header {
    border-bottom: 2px solid #D42026;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 900;
    font-size: 28px;
    margin: 10px 0;
}

#detail-content > .detail-content-section > section {

}

#detail-content > .detail-content-section > section > .detail-block {
    border: 1px solid #ccc;
    padding: 10px 15px;
    position: relative;
    margin: 20px 0;
}

#detail-content > .detail-content-section > section > .detail-block > .detail-block-header {
    font-weight: 900;
}

#detail-content > .detail-content-section > section > .detail-block > .detail-block-content {

}

#detail-content > .detail-content-section > section > .detail-block > .detail-block-content > .detail-card {

}

#detail-content > .detail-content-section > section > .detail-block > .detail-block-content > .detail-card > .detail-card-description {
    font-style: italic;
    padding: 20px;
}

#detail-content > .detail-content-section > section > .detail-block > .detail-block-content > .detail-card > .detail-card-link {
    text-decoration: none;
    position: absolute;
    font-size: 12px;
    color: #D42026;
    right: 10px;
    top: 10px;
}