#detail-header {
    min-width: 1200px;
    font-family: 'Roboto', sans-serif;
}

#detail-header > div {

}

#detail-header > div > img {
    margin: 20px;
    display: block;
    float: left;
}

#detail-header > div > h1 {
    font-size: 90px;
    padding: 20px;
    display: block;
    float: left;
}

#detail-header > h3 {
    float: right;
    color: #D42026;
}

#detail-content {
    font-family: 'Roboto', sans-serif;

}

#detail-content > .detail-content-section {
    width: 50%;
    padding: 20px;
    display: table-cell;
}

#detail-content > .detail-content-section > header {
    font-size: 28px;
    font-weight: 900;
    padding: 10px 15px;
    margin: 10px 0;
    border-bottom: 2px solid #D42026;
    text-transform: uppercase;
}

#detail-content > .detail-content-section > section {

}

#detail-content > .detail-content-section > section > .detail-block {
    margin: 20px 0;
}

#detail-content > .detail-content-section > section > .detail-block > .detail-block-header {
    font-weight: 900;
}

#detail-content > .detail-content-section > section > .detail-block > .detail-block-content {

}

#detail-content > .detail-content-section > section > .detail-block > .detail-block-content .detail-card {

}

#detail-content > .detail-content-section > section > .detail-block > .detail-block-content .detail-card-header a {

}